<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div></div>
<form th:action="@{/projects/add}" th:object="${project}" method="post">
    <p>
        <label>Title</label><br>
        <input type="text" th:field="*{title}"/>
    </p>
    <p>
        <label>Description</label><br>
        <input type="text" th:field="*{description}"/>
    </p>
    <p th:if="${error != null}" th:text="${error}"></p>
    <p>
        <label>Deadline</label><br>
        <input type="date" th:field="*{deadline}">
    </p>

    <button type="submit">Create</button>
    </div>
</form>
</body>
</html>