<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/forms.css}">
</head>
<body>
<div class="fakenavbar"></div>
<form th:action="@{/projects/add}" th:object="${project}" method="post">
    <p class="danger" th:if="${error != null}" th:text="${error}"></p>
    <p>
        <strong>Create project</strong>
    </p>
<div>
    <label>Title <input type="text" th:field="*{title}"/></label>
    <br>

    <label>Description <input type="text" th:field="*{description}"/></label>
    <br>

    <label>Deadline <input type="date" th:field="*{deadline}"></label>
</div>

    <div class="button-row">
        <button type="submit">Create</button>
        <button type="button" onclick="window.location.href='/projects'">Cancel</button>
    </div>
</form>

</body>
</html>