<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/index.css}">
    <meta charset="UTF-8">
    <title>Show Project</title>
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="-details">
    <h1 th:text="${project.title}"></h1>
    <p th:text="${project.description}"></p>
    <br>
    <p th:text="'Created: ' + ${project.getTimeOfCreation().toString()}"></p>
    <p th:if="${project.getDeadline() != null}" th:text="'Deadline: ' + ${project.getDeadline().toString()}"></p>
</div>

<table class="member-list">
    <tr>
        <td><strong>Project Members</strong></td>
    </tr>
    <tr th:each="member : ${project.getProjectMembers()}">
        <td th:text="${member.name}"></td>
    </tr>
</table>
<p th:if="${message != null}" th:text="${message}"></p>

<table class="task-list">
    <tr>
        <th>
            Main tasks
        </th>
        <th>
            Task status
        </th>
        <th>
            Progression status
        </th>
        <th>
            Task details
        </th>
    </tr>
    <tr th:if="${task.getParentTaskId()== null}" th:each="task : ${project.getTasks()}">
        <td>
            <span th:text="${task.title}"></span>
            <span th:if="${task.isHighPriority()}">&#10071;</span>
        </td>
        <td>


                <div th:if="${!task.done}">
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <button class="mark-done-button" type="submit">
                            Mark done
                        </button>
                    </form>
                </div>

                <div class="task-actions" th:if="${task.done}">
                    <p th:if="${task.isDone()}">&#10004;</p>
                        <form th:action="@{/tasks/mark-done}" method="post">
                            <input type="hidden" name="projectId" th:value="${project.id}">
                            <input type="hidden" name="taskId" th:value="${task.id}">
                            <button class="mark-not-button" type="submit">Mark not done</button>
                        </form>
                    </div>

                    <div class="task-actions">
                        <form th:action="@{/tasks/remove}" method="post">
                            <input type="hidden" name="taskId" th:value="${task.id}">
                            <input type="hidden" name="projectId" th:value="${project.id}">
                            <button class="delete-button" type="submit">Delete task</button>
                        </form>
                    </div>

                    <div>
                        <form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="get">
                            <button class="btn" type="submit">Edit Task</button>
                        </form>
                    </div>
        </td>
        <td>
            <div th:if="${!mainTask and progressMap.containsKey(task)}">

                <progress
                        th:value="${progressMap.get(task)[0]}"
                        th:max="${progressMap.get(task)[1]}">
                </progress>

                <span th:text="${progressMap.get(task)[1] > 0 ? (progressMap.get(task)[0] * 100 / progressMap.get(task)[1]) + '%': '0%'}">
    </span>

            </div>
        </td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a>
        </td>
        <td th:if="${task.getParentTaskId()} != null">
            <span th:each="subTask : ${project.getTasks()}">
                <span th:if="${task.getParentTaskId()} == ${subTask.getId()}">
                    <span th:text="${subTask.title}"></span>
                </span>
            </span>
        </td>
    </tr>
</table>

<!--SUBTASK-->

<table class="task-list">
    <tr>
        <th>
            Subtasks
        </th>
        <th>
            Task status
        </th>
        <th>
            Subtask details
        </th>
        <th>
            Parent task
        </th>
    </tr>
    <tr th:if="${task.getParentTaskId()!= null}" th:each="task : ${project.getTasks()}">
        <td>
            <span th:text="${task.title}"></span>
            <span th:if="${task.isHighPriority()}">&#10071;</span>
        </td>
        <td>
            <div class="task-actions">
                <div th:if="${!task.done}">
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <button class="mark-done-button" type="submit">Mark done</button>
                    </form>
                </div>

                <div class="task-actions" th:if="${task.done}">
                    <p th:if="${task.isDone()}">&#10004;</p>
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <button class="mark-not-button" type="submit">Mark not done</button>
                    </form>
                </div>
            </div>
            <div th:if="${!mainTask}" class="task-actions">
                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete-button" type="submit"
                            onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
                    </button>
                </form>
            </div>
            <div th:if="${mainTask}">

                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete-button" type="submit"
                            onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
                    </button>
                </form>
            </div>
            <div>
                <form th:action="@{/tasks/{id}/edit(id=${task.id})}" method="get">
                    <button class="btn" type="submit">Edit Task</button>
                </form>
            </div>


        </td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a>
        </td>
        <td th:if="${task.getParentTaskId()} != null">
            <span th:each="subTask : ${project.getTasks()}">
                <span th:if="${task.getParentTaskId()} == ${subTask.getId()}">
                    <span th:text="${subTask.title}"></span>
                </span>
            </span>
        </td>
    </tr>
    <!--CREATE TASK -->

</table>
<form class="create-task" th:action="@{/tasks/quick-add}" method="post">

    <input type="hidden" name="projectId" th:value="${project.id}">

    <input type="text" name="title" placeholder="Quick add task…" required>

    <button class="btn" type="submit">Add</button>
</form>
<div class="button-row">
    <form class="create-task" th:action="@{/tasks/add}" method="get">
        <input type="hidden" name="projectId" th:value="${project.id}">
        <button class="btn" type="submit">Create task</button>
    </form>
</div>
<div class="button-row">
    <span>
    <form th:action="@{/projects}" method="get">
        <button class="btn" type="submit">Back to all projects</button>
    </form>
        </span>

    <span>
        <form th:action="@{/projects/{projectId}/remove-member(projectId=${project.id})}" method="post">
            <input type="hidden" th:value="${project.id}">
            <input name="employeeId" type="hidden" th:value="${currentUserId}">
            <button class="leave-button" type="submit"
                    onclick="return confirm('Are you sure, you want to leave this project?')">
                Leave project
            </button>
        </form>
    </span>
</div>

</body>
</html>