<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/index.css}">
    <meta charset="UTF-8">
    <title>Show Project</title>
</head>
<body>
<div class="-details">
    <h1 th:text="${project.title}"></h1>
    <p th:text="${project.description}"></p>
    <br>
    <p th:text="'Created: ' + ${project.getTimeOfCreation().toString()}"></p>
    <p th:if="${project.getDeadline() != null}" th:text="'Deadline: ' + ${project.getDeadline().toString()}"></p>
</div>

<table class="member-list">
    <tr>
        <td><strong>Project Members</strong></td>
    </tr>
    <tr th:each="member : ${project.getProjectMembers()}">
        <td th:text="${member.name}"></td>
    </tr>
</table>
<p th:if="${message != null}" th:text="${message}"></p>

<table class="task-list">
    <tr>
        <th>
            <strong>Main tasks</strong>
        </th>
        <th>
            <strong>Task status</strong>
        </th>
        <th>
            Task details
        </th>
    </tr>
    <tr th:if="${task.getParentTaskId()== null}" th:each="task : ${project.getTasks()}">
        <td>
        <span th:text="${task.title}"></span>
            <p th:if ="${task.isHighPriority()}">High priority &#10071;</p>
        </td>
        <td>
            <div th:if="${!mainTask}">
                <progress th:value="${doneTasks}" th:max="${allSubtasks}"></progress>
                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <span th:if="${task.done}">
                      <button class="delete-button" type="submit">Delete task</button>  
                    </span>
                </form>
            </div>
            <div th:if="${mainTask}">
                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete-button" type="submit">Delete task</button>
                </form>
            </div>
            <div class="task-actions">
                <div th:if="${!task.done}">
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <button th:if="${!task.done}" class="mark-done-button" type="submit" th:onclick="${allDone} ? 'return true' : 'return confirm(\'Not all subtasks are done. Are you sure?\')'">Mark done</button>
                    </form>
                </div>

                <p th:if="${task.isDone()}">&#10004;</p>
                <div th:if="${task.done}">
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <button class="mark-not-button" type="submit">Mark not done</button>
                    </form>
                </div>
            </div>
        </td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a>
        </td>
        <td th:if="${task.getParentTaskId()} != null">
            <span th:each="subTask : ${project.getTasks()}">
                <span th:if="${task.getParentTaskId()} == ${subTask.getId()}">
                    <span th:text="${subTask.title}"></span>
                </span>
            </span>
        </td>
    </tr>
</table>

<!--SUBTASK-->

<table class="subtask-list">
    <tr>
        <th>
            <strong>Subtask</strong>
        </th>
        <th>
            <strong>Task status</strong>
        </th>
        <th>
            Subtask details
        </th>
        <th>
            Parent task
        </th>
    </tr>
    <tr th:if="${task.getParentTaskId()!= null}" th:each="task : ${project.getTasks()}">
        <td>
        <span th:text="${task.title}"></span>
        <p th:if ="${task.isHighPriority()}">High priority &#10071;</p>
        </td>
        <td>
            <div th:if="${!mainTask}">
                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete-button" type="submit"
                            onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
                    </button>
                </form>
            </div>
            <div th:if="${mainTask}">

                <form th:action="@{/tasks/remove}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}">
                    <input type="hidden" name="projectId" th:value="${project.id}">
                    <button class="delete-button" type="submit"
                            onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
                    </button>
                </form>
            </div>

            <div class="task-actions">
                <div th:if="${!task.done}">
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <button class="mark-done-button" type="submit">Mark done</button>
                    </form>
                </div>

                <div th:if="${task.done}">
                    <p th:if="${task.isDone()}">&#10004;</p>
                    <form th:action="@{/tasks/mark-done}" method="post">
                        <input type="hidden" name="projectId" th:value="${project.id}">
                        <input type="hidden" name="taskId" th:value="${task.id}">
                        <button class="mark-not-button" type="submit">Mark not done</button>
                    </form>
                </div>
            </div>
        </td>
        <td>
            <a th:href="@{/tasks/{id}(id=${task.id})}" th:text="${task.title}"></a>
        </td>
        <td th:if="${task.getParentTaskId()} != null">
            <span th:each="subTask : ${project.getTasks()}">
                <span th:if="${task.getParentTaskId()} == ${subTask.getId()}">
                    <span th:text="${subTask.title}"></span>
                </span>
            </span>
        </td>
    </tr>
    <!--CREATE TASK -->

</table>
<form class="create-task" th:action="@{/tasks/quick-add}" method="post">

    <input type="hidden" name="projectId" th:value="${project.id}">

    <input type="text" name="title" placeholder="Quick add task…" required>

    <button type="submit">Add</button>
</form>
<div class="create-button">
<form class="create-task" th:action="@{/tasks/add}" method="get">
    <input type="hidden" name="projectId" th:value="${project.id}">
    <button type="submit">Create task</button>
</form>
</div>
<div class="create-button">
    <form th:action="@{/projects}" method="get">
        <button type="submit">Back to all projects</button>
    </form>
</div>

</body>
</html>