<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
    <link rel="stylesheet" th:href="@{/createandeditforms.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<div class="row-alignment">
<table>
    <br>
    <tr>
        <th>Current Title:</th>
        <td th:text="${project.title}"></td>
    </tr>
    <tr>
        <th>Current Description:</th>
        <td th:text="${project.description}"></td>
    </tr>
    <tr>
        <th>Current Deadline:</th>
        <td th:text="${project.deadline}"></td>
    </tr>
</table>
</div>
<div class="row-alignment">
    <form th:action="@{/projects/{projectId}/edit(projectId=${projectId})}" th:object="${project}" method="post">
        <table>
            <tr>
                <th th:text="'New title: '"></th>
                <td><label>
                    <input type="text" th:field="*{title}" maxlength="225">
                </label></td>
                <br>
            </tr>
            <tr>
                <th th:text="'New description: '"></th>
                <td><label>
                    <textarea th:field="*{description}" maxlength="1080"></textarea>
                </label></td>
            </tr>
            <br>
            <tr>
                <th th:text="'New deadline: '"></th>
                <td><label>
                    <input type="date" th:field="*{deadline}">
                </label></td>
            </tr>
            <tr>
                <td>
                    <div class="button-row">
                        <button class="btn" type="submit">Save changes</button>
                        <button type="button" th:onclick="|window.location.href='/projects/' + ${projectId}|">Cancel
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>