<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All projects</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<br>
<div class="row-alignment">
<form th:action="@{/projects/history}" th:object="${allProject}">
    <table>
        <tr>
            <th> All active projects </th>
            <th>Date of creation</th>
            <th>Total logged time</th>
        </tr>
        <tr th:each="project : ${allProject}" th:if="${project.isActive()}">
            <td>
            <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.getTitle()}"></a>
            </td>
            <td th:text="${project.getTimeOfCreation()}"></td>
            <td th:text="${loggedTime[project.id]} + ' hours'" ></td>
        </tr>



    </table>

    <table>
        <tr>
            <th>All archived projects</th>
            <th>Date of creation</th>
            <th>Total logged time</th>
        </tr>
        <tr th:each="project : ${allProject}" th:if="${!project.isActive()}">
            <tda>
                <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.getTitle()}"></a>
            </tda>
            <td th:text="${project.getTimeOfCreation()}"></td>
            <td th:text="${loggedTime[project.id]} + ' hours'" ></td>
        </tr>


    </table>

</form>
</div>
</body>
</html>