<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Overview</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>

<div class="member-list">
    <p>Welcome!</p>
    <p th:text="${employeeName}"></p>
    <br>
    <p th:text="${date}"></p>
</div>

<div class="empty-list" th:if="${emptyList}">
    <p th:text="${message}"></p>
</div>

<div class="row-alignment">
    <button onclick="window.location.href='/projects/add'">Create project</button>
</div>

<div th:if="!${emptyList}">
    <table>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Deadline</th>
        </tr>
        <tr th:each="project : ${projects}" th:if="${project.active}">
            <td>
                <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.getTitle()}"></a>
            </td>
            <td th:text="${project.getDescription()}"></td>
            <td th:text="${project.getDeadline()}"></td>
        </tr>

    </table>
</div>

<div th:if="!${emptyList}">
    <table>
        <tr>
            <th>Archived Project</th>
            <th>Description</th>
            <th>Deadline</th>
        </tr>
            <tr class="archived" th:each="project : ${projects}" th:if="${!project.active}">
                <td>
                    <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.getTitle()}"></a>
                </td>
                <td th:text="${project.getDescription()}"></td>
                <td th:text="${project.getDeadline()}"></td>
            </tr>
    </table>
</div>

</body>
</html>