<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Task: ' + ${task.title}"></title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>

<div class="-details">
    <h1 th:text="${task.title}"></h1>
    <p>
        <strong>Description:</strong>
        <span th:text="${task.description}"></span>
    </p>

    <p>
        <strong>Parent Task:</strong>
        <a th:if="${parentTask != null}" th:href="@{/tasks/{id}(id=${parentTask.id})}" th:text="${parentTask.title}"></a>
        <span th:if="${parentTask == null}">None</span>
    </p>

    <p>
        <strong>Estimated Time:</strong>
        <span th:if="${hasChildren}"
              th:text="${totalEstimatedTime != null ? totalEstimatedTime + ' hours' : 'No subtasks estimated'}"></span>
        <span th:if="${!hasChildren}"
              th:text="${task.timeEstimate != null ? task.timeEstimate + ' hours' : 'Not estimated'}"></span>
    </p>

    <p>
        <strong>Total Logged Time:</strong>
        <span th:text="${totalLoggedTime != null ? totalLoggedTime + ' hours' : 'No time logged'}"></span>
    </p>

    <p>
        <strong>High Priority:</strong>
        <span th:text="${task.highPriority ? 'Yes' : 'No'}"></span>
    </p>

    <p>
        <strong>Done:</strong>
        <span th:text="${task.done ? 'Completed' : 'Not completed'}"></span>
    </p>
</div>

<div class="member-list">
    <p>
        <td><strong>Assigned Member:</strong>
            <span th:if="${assignedEmployee != null}" th:text="${assignedEmployee.name}"></span>
            <span th:if="${assignedEmployee == null}">Unassigned</span>
    </p>
</div>
<div>
    <form th:if="${!task.done}" th:action="@{/tasks/{id}/edit(id=${task.id})}" method="get">
        <button type="submit">Edit Task</button>
    </form>
</div>

<h2>Time Entries</h2>
<div th:if="${!hasChildren}">
    <h3>Add Time Entry</h3>
    <form th:action="@{|/tasks/${task.id}/time-entry|}" method="post">
        <label>Hours spent</label>
        <input type="number" step="0.5" min="1.0" max="9999.99" name="timeSpent" required>
        <button type="submit">Save</button>
    </form>
</div>

<div th:if="${hasChildren}">
    <p><em>This task has subtasks. Any further time entries must be logged in a subtask.</em></p>
</div>
<table class="time-entries" th:if="${timeEntries != null and !timeEntries.isEmpty()}">
    <tr>
        <th>Employee</th>
        <th>Hours</th>
        <th>Created</th>
    </tr>

    <tr th:each="entry : ${timeEntries}">
        <td>
        <span th:each="m : ${projectMembers}"
              th:if="${m.id == entry.employeeId}"
              th:text="${m.name}">
        </span>
        </td>
        <td th:text="${entry.timeSpent}"></td>
        <td th:text="${entry.timeOfCreation}"></td>
        <td>
            <div th:if="${entry.employeeId == loggedInId}">
                <form th:action="@{|/tasks/${task.id}/time-entry/${entry.id}/remove|}" method="post">
                    <button type="submit"
                            class="delete-button"
                            onclick="return confirm('Are you sure you want to delete this time entry?')">
                        Delete
                    </button>
                </form>
            </div>
        </td>
    </tr>

    <p th:if="${timeEntries == null or timeEntries.isEmpty()}">
        No time entries yet.
    </p>
</table>

<div class="-details" th:if="${parentTask == null}">
    <h2>Subtasks</h2>

    <div th:if="${subtasks != null and !subtasks.isEmpty()}">
        <ul>
            <li th:each="st : ${subtasks}">
                <a th:href="@{/tasks/{id}(id=${st.id})}" th:text="${st.title}"></a>
                <span th:if="${st.highPriority}">❗</span>
                <span th:if="${st.done}">✔</span>
            </li>
        </ul>
    </div>
    <p th:if="${subtasks == null or subtasks.isEmpty()}">
        No subtasks yet.
    </p>
    <form th:if="${!task.done}" th:action="@{/tasks/{id}/quick-add-subtask(id=${task.id})}" method="post">
        <input type="text" name="title" placeholder="Quick add subtask..." required>
        <button type="submit">Add</button>
    </form>

    <form th:if="${!task.done}" th:action="@{/tasks/{id}/add-subtask(id=${task.id})}" method="get">
        <button type="submit">Create subtask</button>
    </form>
</div>
<div th:if="${!mainTask}" class="task-actions">
    <form th:action="@{/tasks/remove}" method="post">
        <input type="hidden" name="taskId" th:value="${task.id}">
        <input type="hidden" name="projectId" th:value="${task.projectId}">
        <button class="delete-button" type="submit"
                onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
        </button>
    </form>
</div>
<div th:if="${mainTask}">

    <form th:action="@{/tasks/remove}" method="post">
        <input type="hidden" name="taskId" th:value="${task.id}">
        <input type="hidden" name="projectId" th:value="${task.projectId}">
        <button class="delete-button" type="submit"
                onclick="return confirm('Are you sure, you want to delete this task?')">Delete task
        </button>
    </form>
</div>


<form th:action="@{/projects/{id}(id=${task.getProjectId()})}" method="get">
    <button type="submit">Back to Project</button>
</form>

</body>
</html>
