<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div th:replace="fragment/header :: header"></div>
<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{projectId}">
    <label>
        Title: <input type="text" th:field="*{title}" maxlength="225" required>
    </label>
    <br>
    <label>
        Description: <textarea th:field="*{description}" maxlength="1080"></textarea>
    </label>
    <br>
    <label>
        Assign member: <select th:field="*{assignedMemberId}">
        <option th:each="member : ${members}"
                th:value="${member.id}"
                th:text="${member.name}">
        </option>
    </select>
    </label>
    <br>
    <label>
        Estimated Time: <input type="number" step="0.5" min="1.0" max="9999.99" th:field="*{timeEstimate}">
    </label>
    <br>
    <label>
        High Priority: <input type="checkbox" th:field="*{highPriority}">
    </label>
    <br>
    <label th:if="${task.getParentTaskId() != null}">
        Parrent task: <select th:field="*{parentTaskId}">
        <option th:each="t : ${mainTask}"
                th:value="${t.id}"
                th:text="${t.title}">

        </option>
    </select>
    </label>
    <br>
    <input type="hidden" th:field="*{done}">
    <br>
    <button type="submit">Save changes</button>
</form>
<form th:action="@{/tasks/{taskId}(taskId=${task.id})}" method="get">
    <button type="submit">Cancel</button>
</form>


</body>
</html>