
<div th:fragment="header">
<nav class="navbar">
    <div class="navleft">
        <button type="button"
                onclick="window.location.href='/projects'"
                th:if="${session.employeeId != null}"
                >All projects</button>
        <div th:unless="${hideCreateProject}" >
        <button type="button"
                onclick="window.location.href='/projects/add'"
                th:if="${session.employeeId != null}"
                >Create project</button>
        </div>
        <button type="button"
                onclick="window.location.href='/projects/history'"
        th:if="${session.employeeId != null}">
            All projects history
        </button>
    </div>
    <div class="navright">
        <button type="button"
                onclick="window.location.href='/auth/login'"
                th:if="${session.employeeId == null}"
                >Login</button>

        <button type="button"
                onclick="window.location.href='/auth/logout'"
                th:if="${session.employeeId != null}"
                >Logout</button>
    </div>

</nav>
</div>