<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${status} + ' - ' + ${error}">404 - Not Found</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
<div>
    <h1 th:text="${status} + ' - ' + ${error}"></h1>

    <div>
        <p><strong>Error: </strong> <span th:text="${error}"></span></p>
        <p><strong>Message: </strong> <span th:text="${message}"></span></p>
    </div>

    <p>The ressource you were looking for cannot be found.</p>

    <div>
        <button type="button" onclick="window.location.href='/projects'">Back To Projects</button>
    </div>
</div>
</body>
</html>